# Конфигурация базы данных
DATABASE_HOST=localhost     # Хост для базы данных
DATABASE_USER=username      # Имя пользователя базы данных
DATABASE_PASSWORD=password  # Пароль базы данных
DATABASE_NAME=mydatabase    # Имя базы данных

# API-ключи
EXCHANGE_RATES_API_KEY=your_api_key_here # Exchange Rates Data API Key
GITHUB_TOKEN=your_github_token_here